td {
    height: auto;
    background-color: #1084a1;
    color: black;
    border: 1px solid black;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}

td.description {
    padding: 10px;
    width: 250px;
    text-align: left;
    border: 1px solid black;
}

/* Tooltip Solution adapted from https://www.w3schools.com/css/css_tooltip.asp */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}