/* td {
    height: auto;
    background-color: #1084a1;
    color: black;
    border: 1px solid black;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
} */

/* Tooltip Solution adapted from https://www.w3schools.com/css/css_tooltip.asp */

/* .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #87C1D0;
    color: black;
    text-align: left;
    Position the tooltip
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    margin-top: 30px;
    margin-left: -200px;
} */