table {
  background-color: #157fbdc3;
  color: #839496;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

th {
  background-color: #002b36;
  color: #eee8d5;
  border: 1px solid black;
}

td.description {
  padding: 10px;
  width: 250px;
  text-align: left;
  border: 1px solid black;
}

td {
  height: fit-content;
  background-color: #024151;
  color: rgb(244, 240, 240);
}

.delete-button {
  background-color: #002b36;      /* Background color from the th element */
  color: #eee8d5;                 /* Text color from the th element */
  border: none;                   /* Remove default borders */
  border-radius: 50%;             /* Make the button circular */
  width: 20px;                    /* Width of the button */
  height: 20px;                   /* Height of the button */
  font-weight: bold;              /* Bold text */
  cursor: pointer;                /* Hand cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.delete-button:hover {
  background-color: #024151;     /* Darker background on hover from td background color */
  color: #eee8d5;                /* Keep the same text color on hover */
}
