.QuestionForm {
    flex-direction: column;
    background-color: #004354;
    border-radius: 10px;
    padding: 0 10px;
    padding-bottom: 20px;
    gap: 10px;
    margin-bottom: 20px;
}

.left-aligned {
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex: 0 0 100px;
    text-align: right;
    margin-right: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #004354;
    color: #839496;
    transition: border 0.3s ease-in-out;
}

input[type="text"]:hover, input[type="text"]:focus {
    border: 1px solid #007bff;
    background-color: #073642;
}

input[type="text"]:focus {
    border: 1px solid #007bff;
    outline: none;
}

.textarea-label {
    align-self: flex-start;
    margin-top: 5px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #004354;
    color: #839496;
    transition: border 0.3s ease-in-out;
}

textarea:hover, textarea:focus {
    border-color: #268bd2;
    background-color: #073642;
}

.select-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 590px;
}

select {
    min-width: 0;
    background-color: #004354;
    color: #839496;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

select:hover, select:focus {
    border-color: #268bd2;
    background-color: #073642;
}

.button {
    background-color: #268bd2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.button:hover {
    background-color: #1c6dd2;
}

.error-message {
    color: #dc3545;
    margin-top: 5px;
    display: inline-block;
    width: auto;
}